@use "variaveis";

.hero {
    padding: 4vw;
    min-height: 68vh;
    background-image: url(../images/Batman_herob.jpg);
    background-size: cover;
    
    &__content{
        
        img{
            width:100%;
        }
    }
}

