@use "variaveis";
@use "hero";
@use "header";

* {
    margin: 0 ;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(7, 7, 7);
}

.button{
    display:flex;
    font-size: 15px;
    background-color:variaveis.$CordoBotao;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 5px;
    padding: 6px 4px;
    color:variaveis.$CorFonteBotao;
    margin-left: 30px;
    
    &:hover{
        color:lighten(variaveis.$CorFonteBotao, 50%);
    }
}